html {
  height: 100%;
}

body {
  color: #9fa5a6;
  width: 100%;
  height: 100%;
  background-color: #0d1921;
}

.profile-bg {
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -2;
}

header {
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #212d35;
  box-shadow: 0px 5px 15px #00000059;
}

.header1 .left {
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
}

.header1 .icofont-search-1:hover,
.header1 .dots:hover,
.zmdi-phone:hover {
  border-radius: 50%;
  background-color: #ffffff27;
}

.header1 .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots,
.icofont-search-1,
.zmdi-phone {
  padding: 10px;
}

.zmdi-phone {
  margin-top: 2px;
  padding-right: 15px;
}

.icofont-search-1,
.zmdi-phone {
  transition: ease-in-out 0.2s;
  font-size: 20px;
}

.dots {
  transition: ease-in-out 0.2s;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
}

.dot {
  margin-top: 0.5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #212d35;
  background-color: #9fa5a6;
}

.header2 {
  justify-content: space-between;
  box-shadow: none;
}

.header2 i {
  transition: ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 30px;
}

.header2 i:hover {
  background-color: #ffffff27;
}

.nav-menu ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
}

.nav-menu .liststyle {
  list-style-type: none;
}

.nav-menu li {
  transition: ease-in-out 0.2s;
  position: relative;
}

.nav-menu a {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color: #9fa5a6;
  transition: ease-in-out 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.nav-menu .active a {
  color: #009f8c;
}

.nav-menu li:hover {
  background-color: #ffffff27;
}

.nav-menu .active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #009f8c;
}

.profile {
  width: 100%;
  transition: ease-in-out 0.2s;
  display: flex;
}

.people a {
  text-decoration: none;
  color: #9fa5a6;
  display: flex;
  width: 100%;
}

.people a:hover {
  background-color: #ffffff2d;
}

.stuff {
  width: 100%;
}

.profile .avatar {
  margin: 10px;
  margin-left: 10px;
}

.profile .avatar img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.profile h1 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0;
}

.profile h2 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}

.profile .time {
  font-size: 13px;
  font-weight: 500;
}

.line {
  float: right;
  width: 75%;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff25;
}

.clickables {
  /* padding-left: 80px; */
  width: 100%;
  position: absolute;
  right: 0;
}

.proclick {
  height: 86.5px;
  display: block;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.proclick:hover {
  background-color: #ffffff15;
  height: 88px;
  display: block;
  text-decoration: none;
}

.profilesub {
  padding: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.profilesub a {
  text-decoration: none;
  color: #ffffff;
  margin: auto 0;
  font-size: 30px;
}

.profilesub .avatar {
  margin: auto 0;
}

.profilesub .avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profilesub .subject {
  margin: auto 0;
  margin-left: 10px;
}

.profilesub h1 {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
}

.profilesub h2 {
  color: #ffffff;
  font-size: 15px;
  margin: 0;
}

.type {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0d1921;
  bottom: 0;
  margin-left: 0 !important;
  z-index: 1;
  /* box-shadow: 0px -5px 15px #00000059; */
}

.bar {
  width: 83%;
  height: 100%;
  background-color: #212d35;
  border-radius: 50px;
}

.bar i {
  font-size: 25px;
  padding: 10px;
}

.bar .text {
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
}

.send {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #009f8c;
  border-radius: 50%;
  color: #ffffff;
  font-size: 25px;
}

.circle-avatar .avatar {
  border-radius: 50%;
  border-style: solid;
  border-color: #009f8c;
  border-width: 3px;
}

.circle-avatar img {
  clip-path: circle(45% at 50% 50%);
}

.info {
  margin-top: 65px;
}

.info button {
  font-weight: 300;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 20px;
  border-radius: 10px;
  color: #ffffffc4;
  background-color: #1e2a30;
  border-style: none;
}

.convo-left,
.convo-right {
  margin-bottom: 15px;
}

.convo-right .container,
.convo-left .container {
  font-weight: 400;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.convo-left {
  margin-left: 15px;
  margin-right: 15px;
}

.convo-left .title {
  font-weight: 600;
  color: orange;
}

.convo-left .time,
.convo-right .time {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #9fa5a6;
}

.convo-left .container {
  margin-left: 7px;
  background-color: #212d35;
}

.convo-left .triangle {
  z-index: -1;
  transform: scaleX(2);
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #212d35;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.convo-right {
  margin-right: 15px;
}

.convo-right .container {
  margin-right: 7px;
  background-color: #056062;
}

.convo-right .triangle {
  right: 15px;
  z-index: -1;
  transform: scaleX(2);
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #056062;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.convo-left img,
.convo-right img {
  width: 280px;
  height: auto;
  padding-bottom: 5px;
}

.over {
  position: absolute;
  color: #ffffff !important;
  right: 0;
  bottom: 0;
  margin-right: 16px;
  margin-bottom: 8px;
}

.chat-end {
  height: 70px;
}

.status-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-image: url("../img/Screenshot_20210524-021820_Discord-Beta.jpg");
}

.raksha-pic {
  background-image: url("../img/status/raksha.jpg");
}

.abi-pic {
  background-image: url("../img/status/abi.jpg");
}

.vero-pic {
  background-image: url("../img/status/vero.jpg");
}

.over-opacity {
  background-color: #00000015;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
}

.status-pic .header1 {
  background-color: #00000000;
}

.status-pic h2 {
  color: #9fa5a6;
}

.status-pic .dot {
  background-color: #ffffff;
}

.terms {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 200px;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d1921;
}

.terms-bg {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000096;
  backdrop-filter: blur(10px);
}

.terms h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}

.checking {
  justify-content: center;
}

.icofont-check {
  color: #000000;
  font-size: 30px;
  background-color: #ffffff;
  border-style: none;
}

.clickcolor {
  color: #ffffff !important;
}

.btn {
  text-transform: uppercase;
  border-radius: 20px;
}

.deactive {
  pointer-events: none;
  opacity: 0.2;
}
