html {
  height: 100%;
}

body {
  color: #9fa5a6;
}

.profile-bg {
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

header {
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #212d35;
}

.header1 .left {
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
}

.header1 .icofont-search-1:hover,
.header1 .dots:hover,
.right .zmdi-phone:hover {
  border-radius: 50%;
  background-color: #ffffff27;
}

.header1 .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots,
.icofont-search-1,
.right .zmdi-phone {
  padding: 10px;
}

.right .zmdi-phone {
  margin-top: 2px;
  padding-right: 15px;
}

.icofont-search-1,
.right .zmdi-phone {
  transition: ease-in-out 0.2s;
  font-size: 20px;
}

.dots {
  transition: ease-in-out 0.2s;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
}

.dot {
  margin-top: 0.5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #212d35;
  background-color: #9fa5a6;
}

.header2 {
  justify-content: space-between;
}

.header2 i {
  transition: ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 30px;
}

.header2 i:hover {
  background-color: #ffffff27;
}

.nav-menu ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
}

.nav-menu .liststyle {
  list-style-type: none;
}

.nav-menu li {
  transition: ease-in-out 0.2s;
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.nav-menu a {
  color: #9fa5a6;
  transition: ease-in-out 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.nav-menu .active a {
  color: #009f8c;
}

.nav-menu li:hover {
  background-color: #ffffff27;
}

.nav-menu .active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #009f8c;
}

.profile {
  transition: ease-in-out 0.2s;
  display: flex;
}

.people a {
  text-decoration: none;
  color: #9fa5a6;
  display: flex;
  width: 100%;
}

.people a:hover {
  background-color: #ffffff2d;
}

.content {
  width: 100%;
}

.profile .avatar {
  margin: 10px;
  margin-left: 10px;
}

.profile .avatar img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.subject {
  margin: auto 0;
}

.text {
  height: 100%;
}

.profile h1 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0;
}

.profile h2 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}

.profile .time {
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
  margin-right: 10px;
}

.line {
  width: 95%;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff25;
}

.profilesub {
  padding: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.profilesub a {
  text-decoration: none;
  color: #ffffff;
  margin: auto 0;
  font-size: 30px;
}

.profilesub .avatar {
  margin: auto 0;
}

.profilesub .avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profilesub .subject {
  margin: auto 0;
  margin-left: 10px;
}

.profilesub h1 {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
}

.profilesub h2 {
  color: #ffffff;
  font-size: 15px;
  margin: 0;
}

.type {
  background-color: #0d1921;
  bottom: 10px;
  z-index: 1;
  width: 98%;
}

.bar {
  width: 83%;
  height: 100%;
  background-color: #212d35;
  border-radius: 50px;
}

.bar i {
  font-size: 25px;
  padding: 10px;
}

.bar .text {
  margin-top: 10px;
  width: 53%;
  font-size: 15px;
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #009f8c;
  border-radius: 50%;
  color: #ffffff;
  font-size: 25px;
}

.circle-avatar .avatar {
  border-radius: 50%;
  border-style: solid;
  border-color: #009f8c;
  border-width: 3px;
}

.circle-avatar img {
  clip-path: circle(45% at 50% 50%);
}

.calls .zmdi-phone {
  font-size: 20px;
  color: #009f8c;
}

.info {
  margin-top: 65px;
}

.info button {
  font-weight: 600;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 20px;
  border-radius: 10px;
  color: #ffffffc4;
  background-color: #1e2a30;
  border-style: none;
}

.convo-left,
.convo-right {
  margin-bottom: 15px;
}

.convo-right .container,
.convo-left .container {
  font-weight: 400;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.convo-left {
  margin-left: 15px;
}

.convo-left .title {
  font-weight: 600;
  color: orange;
}

.convo-left .time,
.convo-right .time {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #9fa5a6;
}

.convo-left .container {
  margin-left: 7px;
  background-color: #212d35;
}

.convo-left .triangle {
  z-index: -1;
  transform: scaleX(2);
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #212d35;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.convo-right {
  margin-right: 15px;
}

.convo-right .container {
  margin-right: 7px;
  background-color: #056062;
}

.convo-right .triangle {
  right: 15px;
  z-index: -1;
  transform: scaleX(2);
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #056062;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.convo-left img,
.convo-right img {
  width: 200px;
  height: 200px;
  padding-bottom: 5px;
}

.over {
  position: absolute;
  color: #ffffff !important;
  right: 0;
  bottom: 0;
  margin-right: 16px;
  margin-bottom: 8px;
}
